.container {
    margin: 50px 0;
}
.card {
    margin: 0 2% !important;
}
.infected {
    border-bottom: 10px solid rgba(0 , 0 , 255 , 0.5);
}
.recovered {
    border-bottom: 10px solid rgba(0 , 255 , 0 , 0.5);
}
.deaths {
    border-bottom: 10px solid rgba(255 , 0 , 0 , 0.5);
}
.head {
    font-size: 50px;
    color: white;
    background-color: rgba(0 , 0 , 255 , 0.5);
    border-radius: 10px;
    padding: 10px;
}